.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        = link_to "#", class: "top-items__icons--edit" do
          <i class="fas fa-edit"></i>
        = link_to "#", class: "top-items__icons--cog" do
          <i class="fas fa-cog"></i>

  .side-bar__groups
    .group
      .group__name
        techcamp
      .group__message
        まだメッセージはありません