.side-bar__user-name {
  width: 300px;
  height: 100px;
  background-color: #253141;
  align-items: center;
  display: flex;
}
  .top-items {
    width: 260px;
    height: 20px;
    margin: 0 20px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;

    &__name {
      height: 20px;
      color: #ffffff;
      line-height: 20px;
      text-align: left;
      font-size: 16px;
    }
  
    &__icons {
      width: 60px;
      height: 20px;
      line-height: 20px;
      display: flex;
      justify-content: flex-end;

      &--edit {
      color: #ffffff;
      margin-right: 5px;
      }
  
      &--cog {
      color: #ffffff;
      }
    }
  }

.side-bar__groups {
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px;
  overflow: scroll;

  .group {
    width: 260px;
    margin-bottom: 40px;
    a{
      text-decoration: none;
    }

    &__name {
      width: 260px;
      height: 20px;
      color: #ffffff;
      font-size: 15px;
      font: bold;
      margin-bottom: 5px;
    }

    &__message {
      width: 260px;
      height: 15px;
      color: #ffffff;
      font-size: 11px;
      font: bold;;
    }
  }
}